:root {
    --bg: #F0F7FB;
    --bgSoft: #44D8CA;
    --text: rgb(255, 253, 253);
    --textSoft: #08215C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}