.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0F7FB;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input {
    background-color: transparent;
    border: none;
    color: #08215C;
    outline: none;
}